body {
  padding: 0;
  margin: 0;
  background-color: gainsboro;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 0;
}
nav img {
  margin-left: 10px;
  padding-left: 0;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
ul li {
  display: inline;
  margin-right: 20px;
  font-weight: 600;
  font-family: sans-serif;
}
ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a {
  text-decoration: transparent;
  color: black;
}
.icons {
  margin-right: 60px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: black;
}
button i {
  font-size: 16px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
}
.herosection {
  position: relative;
  height: 800px;
  width: 100%;
  background-image: url("assets/heroimg.jpg");
  background-size: cover;
  background-position: center;
}
.small-button {
  position: absolute;
  bottom: 80px;
  left: 40px;
  padding: 20px 90px;
  background-image: repeating-linear-gradient(
    to right,
    black,
    rgb(153, 151, 151)
  );
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 400;
  font-weight: bold;
}
.paragraphs {
  padding: 30px;
  padding-top: 40px;
  background-color: grey;
  display: flex;
  height: 120px;
  justify-content: space-between;
  text-align: center;
}
.child-paragraphs {
  width: 350px;
}
.content {
  background-color: grey;
  height: 50px;
}
.heading {
  font-family: sans-serif;
  padding-left: 30px;
  max-height: fit-content;
  height: 600px;
  padding-top: 30px;
}
.parent-content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.child-content {
  width: 300px;
  justify-content: center;
  margin-right: 30px;
}
.btn1 {
  background-color: black;
  color: white;
  padding: 10px 30px;
}
.btn2 {
  background-color: black;
  color: white;
  padding: 10px 30px;
  display: block;
  margin: auto;
}
.btn3 {
  background-color: black;
  color: white;
  padding: 10px 30px;
  text-align: right;
}
.b {
  text-align: right;
}
.room {
  text-align: left;
}
.dine {
  text-align: center;
}
.pool {
  text-align: right;
}
.p3 {
  text-align: right;
}
.p2 {
  text-align: center;
}
.p1 {
  text-align: left;
}

/* Media Query */
/* for mobile */
/* width320px */
@media only screen and (max-width: 320px) {
  nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 180px;
  }
  nav img {
    padding: 0;
    margin-right: 180px;
    max-width: 100%;
  }
  button {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-right: 180px;
    gap: 10px;
  }
  .small-button {
    padding: 10px 50px;
  }
  .paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 500px;
  }
  .child-paragraphs {
    width: 250px;
  }
  .parent-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
  }
  .child-content {
    width: 200px;
    justify-content: center;
    margin-right: 20px;
    padding-top: 10px;
  }
  .parent-content img {
    height: 200px;
    width: 250px;
  }
  .btn1 {
    background-color: black;
    color: white;
    padding: 10px 50px;
    align-items: center;
    margin-left: 30px;
  }

  .btn3 {
    background-color: black;
    color: white;
    padding: 10px 50px;
    align-items: center;
    margin-left: 30px;
  }
  .room {
    text-align: center;
  }
  .p1 {
    text-align: center;
  }
  .pool {
    text-align: center;
  }
  .p3 {
    text-align: center;
  }
}
/* width 768px */
@media only screen and (max-width: 768px) {
  nav {
    display: flex;
  }
  ul {
    display: flex;
    padding: 0;
    align-items: center;
  }
  button {
    display: flex;
    flex-direction: row;
    padding: 2px;
  }
  .paragraphs {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 150px;
  }
  .child-paragraphs {
    width: 200px;
  }
  .child-content {
    width: 200px;
    justify-content: center;
    margin-right: 20px;
    padding-top: 10px;
  }
  .parent-content img {
    height: 100px;
    width: 200px;
  }
}
/* width 1024px */
@media only screen and (max-width: 1024px) {
  .paragraphs {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 150px;
  }
  .child-paragraphs {
    width: 300px;
  }
}
